body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

#symbols {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2em;
}

.symbol {
    width: 30%;
    margin: 1em;
    border: 1px solid #ddd;
    padding: 1em;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.symbol img {
    max-width: 100%;
    height: auto;
}

#start-quiz {
    background-color: #f9f9f9;
    padding: 1em;
    text-align: center;
}

label {
    display: block;
    margin: 0.5em;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;  /* Green background */
    color: white;               /* White text */
    border: none;
    border-radius: 5px;         /* Rounded corners */
    text-decoration: none;      /* Removes the underline from the link */
    cursor: pointer;            /* Makes it look clickable */
    transition: background-color 0.3s; /* Smooth transition effect */
}

.back-button:hover {
    background-color: #45a049;  /* Slightly darker green on hover */
}